





  {% load static %}


<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KONEKT</title>
   {% include 'allcss.html' %}

</head>

<body>
    <!-- header starts -->
    <div class="header">
        <!-- <div class="header__input">
            <span class="material-icons"> search </span>
            <input type="text" placeholder="Search Facebook" />
        </div> -->
       
        <div   class="header__left">
            <h2 class="header-text">KONEKT</h2>
        </div> 
      {% include 'filter.html' %}



      <!-- notification for everything -->
       {% if request.user == user %}
        <div class="header__right">
            <div class="header__input">
               <a href="{% url 'Notification' user.id %}">        <span class="material-icons" >notifications </span></a>
        </div>

        </div>
       {% endif %} 


       

    </div>
    <!-- header ends -->


  



    <div class="main__body">
        <!-- sidebar starts -->
        <div class="sidebar">
            
            <div class="sidebarRow">
                    <img class="user__avatar" src="{{request.user.avatar.url}}" alt="">
                    <a href="{% url 'dashboard' request.user.id %}" class="anchor"> <h4>{{request.user.username}}</h4>   </a>
            </div>
          
           
            <div class="sidebarRow">
                <span class="material-icons"> groups</span>
                <h4>
                    <a href="{% url 'UserGroup' request.user.id %}" style="color:black; text-decoration:none;">Groups</a></h4>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> people </span>
                <a href="{% url 'following' request.user.id %}" style="color:black; text-decoration:none;"><h4>Following</h4></a>
            </div>

            <div class="sidebarRow">
                <span class="material-icons"> face</span>
                <a href="{% url 'followers' request.user.id %}" style="color:black; text-decoration:none;"><h4>Followers</h4></a>
            </div>

            <div class="sidebarRow">
                <span class="material-icons">login </span>
             
                <a href="accounts/logout" style="color:black; text-decoration:none;"><h4>Sign Out</h4></a>
            </div>
        </div>
        <!-- sidebar ends -->

        <!-- feed starts -->
        <div class="feed">

            <!-- <post starts!-- -->
                
         {% for post in posts %} 
            {% if post.userId %} 

            {% if post.userId == request.user or post.userId in request.user.followings.all or post.userId in request.user.followers.all %}
            <div class="post">
              
                {% include 'postmaterial.html' %}
                {% include 'like_dislike.html' %}
            </div>
            {% endif %}
            {% endif %}
         {% endfor %}    
            <!-- post ends -->
        </div>
        <!-- feed ends -->
     {% include 'sidebar.html' %}
       
    </div>
    <!-- main body ends -->

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0"
        nonce="zUxEq08J"></script>
  
  
</body>
</html>  