
{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Group</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="d-inline-block align-text-top logo-design">
        <h4 class="heading-text">KONEKT</h4>
        <!-- <svg width="221" height="124" viewBox="0 0 221 124" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg> -->
    </div>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                {% if post %}
                <header>Edit Post</header>
                {% else %}
                <header>New Post</header>
                {% endif %}
                <form action=""  method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <div class="field input-field">
                        <p>
                            <label for="file" style="cursor: pointer">Upload</label>
                            <span class="material-symbols-outlined"> upload </span>
                        </p>
                        <input type="file" accept="image/gif, image/jpeg, image/png"  id="file"
                        onchange="loadFile(event)"  style="display: none"  name="image"  />

                    </div>
                  
                    <img id="output" src="{{post.img.url}}" width="100%" />
                
                    <div class="field input-field">
                        <input  name="tags" type="tags" placeholder="Tags" class="input" value="{{post.tags}}" />

                    </div>

                    <div class="field input-field">
                        <input  name="content" type="desc" placeholder="Description" class="input" value="{{post.content}}" />
                    </div>
                
              {% if post %}
                     <div class="field button-field" >
                        <button type="submit">Edit Post</button>
                    </div>

                {% else %}
                <div class="field button-field" >
                    <button type="submit">Create Post</button>
                </div>
                {% endif %}
                </form>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="{% static 'js/post.js' %}"></script>
</body>

</html>